<%- include('partials/header') -%>

<section class="p-4">

    <h2 class="m-4 text-lg">Enter your comments</h2>
    
    <form action="/comments" method="POST">
        <input type="text" placeholder="title" name="title" class="text-sm py-3 px-4 rounded-md border-2 border-black w-[40%] mb-5">
        <div class="border-green-500 border-2 mt-4 px-4">
            <textarea name="comment" id="" cols="30" rows="10" placeholder="Add your comment here"
                class="border-red-400 border-2 p-1 w-[500px] min-h-[200px] my-0 mx-auto rounded-md"></textarea>
        </div>
        <button type="submit">Send</button>
    </form>
    
    
    <!-- <ul class="border-green-900 border-2 px-4 py-2 w-full mt-3 flex justify-center items-center flex-wrap shadow-md md:p-3 sm:p-5"> -->
    <ul class="border-green-900 border-2 my-4 py-4 grid grid-cols-1 gap-4 auto-rows-fr px-5 md:grid-cols-2 md:px-3  lg:grid-cols-3">
        <% getComments.forEach(comment=> { %>
            <li class="bg-blue-50/95 shadow-md py-4 px-7 pb-3 w-340px h-[250px] m-1.5 rounded-md hover:border-2 hover:shadow-[#0B2447]">
            <!-- <li class="border-blue-400 border-2 p-1 w-340px min-h-[150px] m-1.5 rounded-md"> -->
                <div class="text-2xl text-center capitalize mb-3 text-[#19376D]">
                    <%= comment.title %>
                </div>
                <!-- Thinking of giving this bg a light shade of something -->
                <div class="border-purple-500 border-2 p-2 h-[100px] mb-4 text-[#0B2447]">
                    <%= comment.comment %>
                </div>
                <div class="flex justify-center gap-4">
                    <a href="/comments/edit/<%= comment._id%>"
                        class="bg-white border-[#DBD6D6] border-2 text-slate-800 mx-1 py-2 px-3 rounded-md w-[80px] text-center hover:shadow-md hover:text-[#19376D]">Edit</a>
                    <a href="/comments/delete/<%= comment._id%>"
                        class="bg-white border-[#DBD6D6] border-2 text-slate-800 mx-1 py-2 px-3 rounded-md w-[80px] text-center hover:shadow-md hover:text-[#19376D]">Delete</a>
                </div>
                
            </li>
            <% }) %>
    </ul>
    
    <a href="/dash" class="relative inline-block py-2.5 px-5 bg-black/5 text-[#03e9f4] text-base no-underline uppercase delay-100 tracking-wide mt-20 rounded hover:bg-[#03e9f4] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#03e9f4] hover:shadow-[#03e9f4]">
        <button type="submit">Dashboard</button>
    </a>
    <a href="/recipes" class="relative inline-block py-2 px-5 bg-black/5 text-[#03e9f4] text-base no-underline delay-100 tracking-wide mt-20 rounded hover:bg-[rgb(3,233,244)] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#03e9f4] hover:shadow-[#03e9f4]">Add Recipes</a>

</section>



<%- include('partials/footer') -%>