<%- include('partials/header') -%>

<div class="container">
    <h2>Hello UserName</h2>
    <form action="/dashboard" method="POST">
        <input type="text" name="itemInput" placeholder="Item">
        <input type="number" name="quantity" placeholder="Quantity">
        <input type="text" name="unit" placeholder="Unit">
        <label for="expiry">Expiration date</label>
        <input type="date" name="expiry" placeholder="Expiry date">
        <button type="submit">Add New Item</button>
    </form>

    <ol class="box">
        <!-- Add contents later for inventory -->
                <% newItem.forEach(item=> { %>
                    <li>
                        <div>Item: <%= item.itemInput %></div>
                        <div>Quantity: <%= item.quantity %>
                            <%= item.unit %>
                        </div>
                        <!-- <div></div> -->
                        <div>Expires: <%= item.expiry %></div>
                        <div>Days to expiration: <%= item.daysLeft %></div>
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </li>
                    <% }) %>
        
    </ol>




    <a href="#">Scan Barcode</a>
    <a href="/comment">Add Comment</a>
</div>



<%- include('partials/footer') -%>