<%- include('partials/header') -%>

    <section class="bg-[#f6f6f6] p-5 m-7">
        <h1 class="mt-5 ml-4 font-medium text-lg capitalize tracking-wide">Edit your food items</h1>
        <section>
            <ul>
                <% dashItems.forEach(items=> { %>
                    <% if (items._id==dashId ) { %>
                        <li>
                            <div class="bg-white mt-8 sm:mx-auto sm:w-full">
                                <div class="py-6 px-6 shadow rounded-lg sm:px-10">
                                    <form action="/dash/update/<%= items._id %>" method="POST">
                                        <label for="item" class="block mt-4 text-sm font-medium text-gray-700">Item</label>
                                        <input type="text" name="itemInput" value="<%= items.itemInput %>" class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                                        <label for="quantity" class="block mt-4 text-sm font-medium text-gray-700">Quantity</label>
                                        <input type="number" name="quantity" value="<%= items.quantity %>" class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                                        <label for="unit" class="block mt-4 text-sm font-medium text-gray-700">Unit</label>
                                        <input type="text" name="unit" value="<%= items.unit %>" class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                                        <label for="expiry" class="block mt-4 text-sm font-medium text-gray-700">Expiration date</label>
                                        <input type="date" name="expiry" value="<%= items.expiry %>" class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                                        <button type="submit" class="relative inline-block py-2.5 px-5 bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide mt-20 rounded hover:bg-[#f6f6f6] hover:text-[#FF8E6E] hover:rounded-lg hover:shadow-lg">Submit Changes</button>
                                        <a href="/dash"
                                        class="relative inline-block py-2.5 px-5 bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide mt-20 rounded hover:bg-[#f6f6f6] hover:text-[#FF8E6E] hover:rounded-lg hover:shadow-lg">Cancel</a>
                                        <a href="/dash/delete/<%= items._id%>" class="relative inline-block py-2.5 px-5 bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide mt-20 rounded hover:bg-[#f6f6f6] hover:text-[#FF8E6E] hover:rounded-lg hover:shadow-lg">Delete</a>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <% } %>
                            <% }) %>
            </ul>
        </section>
        
    </section>
