<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Management App</title>
    <link href="/output.css" rel="stylesheet">
    <!-- <link href="/css/styles.css" rel="stylesheet"> -->
</head>
<body>

<section class="border-black border-2 mt-5 pb-5">

    <!-- Recipe box  -->
    <div class=" p-8 my-6 mx-auto bg-pink-50/25 max-w-5xl rounded-md shadow-lg shadow-black/20">

        <!-- Box holding 3 sections in Recipe -->
        <div class="border-2 border-green-500 bg-white flex flex-col justify-center p-4 rounded-md shadow-md shadow-black/5">

            <!-- Section holding Image -->
            <section class=" mt-5 bg-no-repeat bg-cover max-h-[90rem]">
                <!-- Why is the image not changing size? -->
                <div class=" flex justify-center">
                
                    <img class=" w-full h-full object-cover rounded-3xl" src="<%= recipe.image%>" />
            
                </div>
            </section>
            
            <!-- Section holding Sub head info -->
            <section class="border-orange-600 border-2 my-2">
                <!-- image over here -->
                <div class="border-blue-600 font-bold uppercase text-xl border-2 px-2 py-2">
                    <%= recipe.title %>
                </div>
                <!-- Maybe put each in a div to style -->
                <div class="border-purple-900 border-2 p-2 w-full grid grid-cols-2 md:flex md:flex-wrap md:justify-evenly ">
                    <span class="block mx-1"><span class="font-bold">Prep:</span> <%= recipe.prep %></span>
                    <span class="block mx-1"><span class="font-bold">Cook:</span> <%= recipe.cook %></span>
                    <span class="block mx-1"><span class="font-bold">Total:</span> <%= recipe.total %></span>
                    <span class="block mx-1"><span class="font-bold">Servings:</span> <%= recipe.serving %></span>
            
                </div>
            </section>

            <!-- Section holding Ingredients and Directions -->
            <section class="border-2 border-black">
                <div class="border-green-600 border-2 grid grid-cols-1 gap-5 md:grid-cols-3 md:gap-4 p-5">
                    <!-- using heaight didn't work -->
                    <div class="border-red-600 border-2 px-2">
                    <!-- <div class="border-red-600 border-2 mb-3 w-full md:mt-0 h-[100px] md:w-full"> -->
                        <h4 class="font-mono text-center font-bold uppercase underline text-lg my-4">Ingredients</h4>
                        <pre class="font-mono text-sm text-slate-600 whitespace-pre-wrap tracking-wide leading-loose"><%= recipe.ingredients %></pre>
                    </div>
                
                    <div class="border-red-600 border-2 col-span-2 px-2">
                        <h4 class="font-mono text-center font-bold uppercase underline text-lg my-4">Preparations</h4>
                        <pre class="font-mono text-slate-600 whitespace-pre-wrap tracking-wide leading-loose"><%= recipe.instructions %></pre>
                    </div>
                </div>
            </section>
        </div>
        
        <!-- Section holding edit/delete or user name if viewed by non poster -->
        <div class="border-2 border-blue-700 bg-white p-2">
            <div class="border-purple-800 border-2 flex justify-between">
            
                <!-- MAKING CHANGES FOR DUAL PURPOSE FORM -->
                <%if(recipe.user && recipe.user._id.toString() === user.id){ %>
                    <a href="/recipes/viewRecipe/<%= recipe.id %>?edit=true" class="border-black border-2 bg-[#f6f6f6] text-[#515070] py-1 px-3 rounded w-[80px] text-center hover:shadow-sm
                                                hover:text-[#FF8E6E]">Edit</a>
                    <form action="/recipes/deleteOneRecipe/<%= recipe.id%>?_method=DELETE" method="POST"
                        class="border-green-500 border-2">
                        <button
                            class="border-black border-2 bg-[#f6f6f6] text-[#515070] py-1 px-3 rounded w-[80px] text-center hover:shadow-sm hover:text-[#FF8E6E]"
                            type="submit">Delete</button>
                    </form>
                    <% }  else { %>
                        <!-- Display the owner's name -->
                        <% const ownerName = recipe.user ? recipe.user.userName : 'Owner information unavailable' %>
                        <p class="border-blue-800 border-2 text-xl font-semibold text-[#313135] mb-2">
                            By: <%= ownerName %>
                        </p>
                        <a href="#" class="border-blue-800 border-2 text-xl font-semibold text-[#313135] w-20 mb-2">
                            Like
                        </a>
                        
                    <% } %>
            </div>
        </div>    
                    
        
        
    </div>

    <!-- Editing start -->

    <% if (showEditForm) { %>
        <section class="border-amber-700 border-2 mt-16">
            <!-- Edit Image -->
            <form action="/recipes/updateImageRecipe/<%= recipe.id%>?_method=PUT" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                    <label for="editImgUpload" class="form-label">Image</label>
                    <input type="file" class="form-control" id="editImageUpload" name="editFile">
                    <!-- check name value above-->
                </div>
                <div class="border-red-700 border-2 w-80 h-80">
                    <img class="border-green-900 border-2 w-full h-full" src="<%= recipe.image%>" />
                </div>
                <button
                    class="border-black border-2 bg-[#f6f6f6] text-[#515070] py-1 px-3 rounded w-[80px] text-center hover:shadow-sm hover:text-[#FF8E6E]"
                    type="submit">Save</button>
            </form>
            
            
            <!-- EDIT FORM -->
            
            <div class="border-green-800 border-2 mt-52">
                <form action="/recipes/updateOneRecipe/<%= recipe.id%>?_method=PUT" method="POST" class="border-green-500 border-2">
                    <input type="text" name="title" value="<%= recipe.title %>" class="border-red-600 border-2">
                    <div class="border-purple-900 border-2 p-2 w-full flex flex-wrap justify-evenly ">
                        <input type="text" name="prep" value="<%= recipe.prep %>" class="block mx-1 border-blue-600 border-2">
                        </input>
                        <input type="text" name="cook" value="<%= recipe.cook %>" class="block mx-1 border-blue-600 border-2">
                        </input>
                        <input type="text" name="total" value="<%= recipe.total %>" class="block mx-1 border-blue-600 border-2">
                        </input>
                        <input type="text" name="serving" value="<%= recipe.serving %>" class="block mx-1 border-blue-600 border-2">
                        </input>
                    </div>
                    <div
                        class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm flex flex-col focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                        <textarea class="border-2 border-rose-500 p-0 m-0" name="ingredients" id="" cols="30" rows="10">
                                    <%= recipe.ingredients %>
                                </textarea>
                    </div>
                    <div
                        class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm flex flex-col focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                        <textarea class="border-2 border-rose-500 p-0 m-0" name="instructions" id="" cols="30" rows="10">
                                    <%= recipe.instructions %>
                                </textarea>
                    </div>
                    <div class="border-purple-900 border-2">
                        <button
                            class="border-black border-2 bg-[#f6f6f6] text-[#515070] py-1 px-3 rounded w-[80px] text-center hover:shadow-sm hover:text-[#FF8E6E]"
                            type="submit">Save</button>
                        <a href="/recipes/viewRecipe/<%= recipe._id%>" class="border-black border-2 bg-[#f6f6f6] text-[#515070] py-1 px-3 rounded w-[80px] text-center hover:shadow-sm
                                hover:text-[#FF8E6E]">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    <% } %>

    <!-- Editing ends -->

    <div class="col-6 mt-5">
        <a class="bg-[#f6f6f6] text-[#515070] ml-4 py-1 px-3 rounded shadow-lg shadow-black/20 w-[80px] text-center hover:shadow-sm hover:text-[#FF8E6E]" href="/recipes">Return to My Recipes</a>
        <!-- <a class="btn btn-primary" href="/feed">Return to Feed</a> -->
    </div>
    <div class="col-6 mt-5">
        <a class="bg-[#f6f6f6] text-[#515070] ml-4 py-1 px-3 rounded shadow-lg shadow-black/20 w-[80px] text-center hover:shadow-sm hover:text-[#FF8E6E]" href="/recipes/viewRecipeFeed">Return to Recipes Feed</a>
        <!-- <a class="btn btn-primary" href="/feed">Return to Feed</a> -->
    </div>
</section>

</body>

</html>