<%- include('partials/header') -%>

<section class="p-5 mt-12 mb-3 mx-3">
    <!-- To upload recipes -->
    <h2 class="text-[#515070] mt-8 text-4xl w-full">What recipe will you like to share today <%= user.userName %>?</h2>
    <div class="container">
        <!-- Form to upload saved pdf recipe format -->
        <!-- <div class="mt-8 sm:mx-auto sm:w-full">
            <div class="py-8 px-6 shadow rounded-lg sm:px-10 hover:shadow-[#515070]">
                <p class="mb-2">Use this section if you already have your recipe in a file (pdf), that can be uploaded. Be sure to include a title for the recipe and add tags to make it easier to find your recipes</p>
                
                <form action="/recipes/recipe" enctype="multipart/form-data" method="POST">
                    <input type="text" name="title" placeholder="Title" class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                    <input type = "file" name = "pdf" class = "w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                    <input type = "text" name = "tags" placeholder = "#Tags" class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                    <button type = "submit" class = "w-1/2 py-2.5 px-5 bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide mt-3 rounded hover:bg-[#515070] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#515070] hover:shadow-[#515070]">Upload Recipe</button>
                </form>
            </div>
        </div> -->
       

        <!-- Add form to create recipes  -->

        <div class="mt-8 sm:mx-auto sm:w-full">
            <div class="py-8 px-6 shadow rounded-lg hover:shadow-[#515070] sm:px-10">
                <p class="mb-6 p-2 bg-slate-100/40">Use this section to input your recipe. Remember to select an image of your recipe from your files.</p>
                <form action="/recipes/newRecipe" enctype="multipart/form-data" method="POST" class="border-blue-400">
                    <div class="mb-3">
                        <label for="imgUpload" class="form-label">Image</label>
                        <input type="file" class="form-control" id="imageUpload" name="file">
                    </div>
                    <input type="text" placeholder="title" name="title"
                        class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                    <div class="border-2 border-black/20 my-3 py-2 flex flex-wrap justify-evenly gap-2 rounded-md">
                        <input class="border-none appearance-none bg-[#f2f2f2] p-2 rounded w-[220px] &::placeholder- " type="text"
                            placeholder="Prep Time" name="prep">
                        <input class="border-none appearance-none bg-[#f2f2f2] p-2 rounded w-[220px]" type="text"
                            placeholder="Cook Time" name="cook">
                        <input class="border-none appearance-none bg-[#f2f2f2] p-2 rounded w-[220px]" type="text"
                            placeholder="Total Time" name="total">
                        <input class="border-none appearance-none bg-[#f2f2f2] p-2 rounded w-[220px]" type="text" placeholder="Servings"
                            name="serving">
                    </div>
                    <div class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm flex flex-col focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                        <span class="my-2 text-center">Enter your Ingredients</span>
                        <textarea class="border-2 border-black/10 p-0 m-0" name="ingredients" id="" cols="30" rows="10"
                            placeholder="Press 'Enter' after each entry to start next entry on a new line. E.g Chicken wings - 2kg."></textarea>
                    </div>
                    <div class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm flex flex-col focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                        <span class="my-2 text-center">Enter your Instructions</span>
                        <textarea class="border-2 border-black/10 p-0 m-0" name="instructions" id="" cols="30" rows="10"
                            placeholder="Enter instructions here. Press 'Enter' after each entry to start next entry on a new line. E.g 1) Preheat your oven to...." ></textarea>
                    </div>
                    <div class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm flex flex-col focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                        <span class="my-2 text-center">Leave a note</span>
                        <textarea class="border-2 border-black/10 p-0 m-0" name="note" id="" cols="30" rows="10"
                            placeholder="Leave a note for any do's and dont's necessary to get this recipe" ></textarea>
                    </div>

                    <!-- Add an input field for the tags to this form and it's Model -->
                    <input type="text" name="hashtags" placeholder="#Tags, #country, #glutenFree, #foodType"
                        class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">

                    <button type="submit" value="Upload" class="w-1/2 py-2.5 px-5 bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide mt-3 rounded hover:bg-[#515070] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#515070] hover:shadow-[#515070]">Enter Recipe</button>
                </form>
            </div>
        </div>
        



        <!-- Reading of entered recipes  -->
        <ul class="my-2 py-2 grid grid-cols-1 gap-4 auto-rows-fr px-5 md:grid-cols-2 md:px-3 lg:grid-cols-3">
        <!-- <ul class="border-black border-2 my-3 p-3 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-8"> -->
            <% getRecipes.forEach(recipe=> { %>
                <li class="border-2 my-2 rounded-md border-black/5 bg-[#fafafa] max-w-1xl min-h-[20rem] shadow-sm">
                    <!-- Modifying recipe card -->
                    <div class="flex items-center justify-evenly flex-wrap rounded-lg">
                        <div class="my-2 flex flex-col border-1 rounded-md">

                            <div class="border-b-2 border-black/30 bg-no-repeat bg-cover min-h-[20rem]">
                                <img src="<%= recipe.image%>" alt=""
                                class="w-96 h-80 object-contain">
                            </div>
                            
                            <div class="flex flex-col pt-0 px-2 pb-2">
                                <h1 class="capitalize p-3 text-[#313135] font-bold text-3xl">
                                    <%= recipe.title.length > 18 ? recipe.title.slice(0, 18) + '...' : recipe.title%>
                                </h1>
                                <p class="border-black/5 border-2 font-medium text-lg text-[#59595C] p-1 my-3 rounded-xl overflow-hidden">
                                    <% if (recipe.hashtags && recipe.hashtags.length> 0) { %>
                                        <% const hashtagString = recipe.hashtags.join(', '); %>
                                        <!-- <p class="overflow-hidden h-8 md:h-16"> -->
                                        <%= hashtagString.length > 30 ? hashtagString.slice(0, 30) + ' ...' : hashtagString %>
                                        <!-- </p> -->
                                    <% } %>
                                </p>
                            
                            </div>
                            
                                <a href="/recipes/viewRecipe/<%= recipe._id%>"
                                    class="my-2 mx-auto justify-self-end no-underline bg-black/5 text-[#515070] rounded text-2xl py-1.5 w-60 text-center hover:rounded-lg hover:shadow-md hover:shadow-black/30 hover:bg-black/5 hover:text-[#FF8E6E]">View
                                    Recipe</a>
                        </div>
                    </div>
                    
                    <!-- End of recipe card -->
                </li>
                <% }) %>
                
            </ul>
            
            
            
            
            <!-- <a href="#">Scan Barcode</a> -->
            <div class="flex justify-center flex-wrap p-2">
                <!-- work on width. Use the correct syntax -->
                <a href="/dash" class="w-44 text-center py-2 px-[20px] bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide m-2 rounded hover:bg-black/5 hover:text-[#FF8E6E] hover:rounded-lg hover:shadow-lg group-hover:shadow-md hover:shadow-black/30">
                    <button type="submit">Dashboard</button>
                </a>
                <a href="/comments" class="w-44 text-center py-2 px-[20px] bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide m-2 rounded hover:bg-black/5 hover:text-[#FF8E6E] hover:rounded-lg hover:shadow-lg group-hover:shadow-md hover:shadow-black/30">Add Comment</a>
                
                <a href="/recipes/viewRecipeFeed" class="w-44 text-center py-2 px-[20px] bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide m-2 rounded hover:bg-black/5 hover:text-[#FF8E6E] hover:rounded-lg hover:shadow-lg group-hover:shadow-md hover:shadow-black/30">Get more recipes</a>

                <a href="/recipes/savedRecipes" class="w-44 text-center py-2 px-[20px] bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide m-2 rounded hover:bg-black/5 hover:text-[#FF8E6E] hover:rounded-lg hover:shadow-lg group-hover:shadow-md hover:shadow-black/30">Saved recipes</a>

            </div>
            
        </div>
        
    </div>
    </section>
