<%- include('partials/header') -%>

<section class="border-purple-700 border-2 p-5 m-3">
    <!-- To upload recipes -->
    <div class="container">
        <h2 class="text-[#515070] mt-8 text-4xl w-full">What would you like to make today <%= user.userName %>?</h2>
        <div class="mt-8 sm:mx-auto sm:w-full">
            <div class="py-8 px-6 shadow rounded-lg sm:px-10 hover:shadow-[#515070]">
                <p class="mb-2">Use this section if you already have your recipe in a file (pdf), that can be uploaded. Be sure to include a title for the recipe and add tags to make it easier to find your recipes</p>
                <!-- Add file enctype to upload the image -->
                <form action="/recipes/recipe" enctype="multipart/form-data" method="POST">
                    <input type="text" name="title" placeholder="Title" class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                    <input type = "file" name = "pdf" class = "w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                    <input type = "text" name = "tags" placeholder = "#Tags" class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                    <button type = "submit" class = "w-1/2 py-2.5 px-5 bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide mt-3 rounded hover:bg-[#515070] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#515070] hover:shadow-[#515070]">Upload Recipe</button>
                </form>
            </div>
        </div>
       

        <!-- Add form to create recipes  -->

        <div class="mt-8 sm:mx-auto sm:w-full">
            <div class="py-8 px-6 shadow rounded-lg hover:shadow-[#515070] sm:px-10">
                <p class="mb-2">Use the area below to create your new recipe</p>
                <form action="/recipes/newRecipe" enctype="multipart/form-data" method="POST" class="border-blue-400">
                    <div class="mb-3">
                        <label for="imgUpload" class="form-label">Image</label>
                        <input type="file" class="form-control" id="imageUpload" name="file">
                    </div>
                    <input type="text" placeholder="title" name="title"
                        class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                    <div class="border-2 border-green-600 my-3 py-2 flex flex-wrap justify-evenly gap-2">
                        <input class="border-none appearance-none bg-[#f2f2f2] p-2 rounded w-[220px] &::placeholder- " type="text"
                            placeholder="Prep Time" name="prep">
                        <input class="border-none appearance-none bg-[#f2f2f2] p-2 rounded w-[220px]" type="text"
                            placeholder="Cook Time" name="cook">
                        <input class="border-none appearance-none bg-[#f2f2f2] p-2 rounded w-[220px]" type="text"
                            placeholder="Total Time" name="total">
                        <input class="border-none appearance-none bg-[#f2f2f2] p-2 rounded w-[220px]" type="text" placeholder="Servings"
                            name="serving">
                    </div>
                    <div class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm flex flex-col focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                        <span class="my-2 text-center">Enter your Ingredients</span>
                        <textarea class="border-2 border-rose-500 p-0 m-0" name="ingredients" id="" cols="30" rows="10"
                            placeholder="Press 'Enter' after each entry to start next entry on a new line. E.g Chicken wings - 2kg."></textarea>
                    </div>
                    <div class="w-full border border-gray-300 my-2 px-3 py-2 rounded-lg shadow-sm flex flex-col focus:outline-none focus:border-indigo-400 focus:ring-1 focus:ring-indigo-400 caret-blue-700">
                        <span class="my-2 text-center">Enter your Instructions</span>
                        <textarea class="border-2 border-rose-500 p-0 m-0" name="instructions" id="" cols="30" rows="10"
                            placeholder="Enter instructions here. Press 'Enter' after each entry to start next entry on a new line. E.g 1) Preheat your oven to...." ></textarea>
                    </div>

                    <!-- Add an input field for the tags to this form and it's Model -->
                
                    <!-- Add file enctype in to upload the image -->
                    <!-- <input type="file" name="uploadImg"> -->
                    <button type="submit" value="Upload" class="w-1/2 py-2.5 px-5 bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide mt-3 rounded hover:bg-[#515070] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#515070] hover:shadow-[#515070]">Enter Recipe</button>
                </form>
            </div>
        </div>
        



        <!-- Reading of entered recipes  -->
        <ul class="border-black border-2 my-2 py-2 grid grid-cols-1 gap-4 auto-rows-fr px-5 md:grid-cols-2 md:px-3 lg:grid-cols-3">
        <!-- <ul class="border-black border-2 my-3 p-3 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-8"> -->
            <% getRecipes.forEach(recipe=> { %>
                <li class="border-green-900 border-2 my-2">
                    <!-- Modifying recipe card -->
                    <div class="border-purple-600 border-2 flex items-center justify-evenly flex-wrap">
                        <div class="my-2 flex flex-col rounded-md bg-[#fafafa] border-2 border-black/10 max-w-1xl min-h-[20rem] shadow-sm">

                            <div class="border-red-600 border-2 bg-no-repeat bg-cover min-h-[20rem]">
                                <img src="<%= recipe.image%>" alt=""
                                class="border-green-500 border-2 w-96 h-80">
                            </div>
                            
                            <div class="border-blue-800 border-2 flex flex-col pt-0 px-2 pb-2">
                                <h1 class="border-yellow-300 border-2 capitalize p-3 text-[#313135] font-bold text-3xl">
                                    <%= recipe.title %>
                                </h1>
                                <p class="border-green-500 border-2 pt-8 font-medium text-2xl text-[#59595C] mb-10">The tags will go in here</p>
                            
                            </div>
                            <!-- <div class="border-green-500 border-2 my-0 mx-auto"> -->
                                <a href="/recipes/viewRecipe/<%= recipe._id%>"
                                    class="border-orange-600 border-2 mx-auto justify-self-end no-underline text-[#FFBB91] bg-black/5 rounded text-4xl py-1.5 w-72 text-center hover:shadow-md hover:bg-white hover:text-[#FF8E6E]">View
                                    Recipe</a>
                                <!-- <a href="/recipes/viewRecipe/<%= recipe._id%>"
                                    class="border-orange-600 border-2 inline-block bg-[#515070] py-[.45em] px-[1em] w-full text-center rounded text-white font-bold tracking-wider text-lg hover:shadow-sm hover:text-[#FF8E6E]">View
                                    Recipe</a> -->
                            <!-- </div> -->
                        </div>
                    </div>
                    
                    <!-- End of recipe card -->
                </li>
                <% }) %>
                
            </ul>
            
            
            
            
            <!-- <a href="#">Scan Barcode</a> -->
            <div class="border-blue-400 border-2 flex p-2">
                <!-- work on width. Use the correct syntax -->
                <a href="/dash" class="py-2 px-[20px] bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide m-2 rounded hover:bg-[#FF8E6E] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#FF8E6E] hover:shadow-[#FF8E6E]">
                    <button type="submit">Dashboard</button>
                </a>
                <a href="/comments" class="relative inline-block py-2 px-[20px] bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide m-2 rounded hover:bg-[#FF8E6E] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#FF8E6E] hover:shadow-[#FF8E6E]">Add Comment</a>
                
                <a href="#" class="py-2 px-[20px] bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide m-2 rounded hover:bg-[#FF8E6E] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#FF8E6E] hover:shadow-[#FF8E6E]">Get more recipes</a>
            </div>
            
        </div>
        
    </div>
    </section>


    <%- include('partials/footer') -%>